.active {
    font-size: large;
    color: aliceblue;
    border: black;
}

.passive {
    font-size: large;
    color: aliceblue;
    border: black;
}

.more {
    text-align: center;
}

.less {
    text-align: left;
}