.active {
    font-size: small;
    color: aliceblue;
    border: blue;
}

.passive {
    font-size: large;
    color: aliceblue;
    border: blue;
}

.more {
    text-align: center;
}

.less {
    text-align: left;
}

.someMore {
    height: 0;
}